.container {
  width: 1920px;
  border: 2px solid red;
  margin: 0 auto;
  background-image: url(/images/Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;


}


.contentbox {
  width: 1725px;
  border: 2px solid yellow;
  margin: 63px 97px 0px 98px;

}



.headul {
  margin: 0px 0px 0px 341px;
  display: inline-block;
}

.Headlist {
  border: 2px solid green;
  display: inline-block;
  margin-right: 90px;
  color: #E3F4FF;
  font-size: 24px;
  font-family: 'Lane Narrow';
  font-weight: bold;

}

.logo {
  width: 97px;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid blue;
  margin: 0px 0px 0px 0px;
}

.magnifyer {
  width: 27px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 200px;
  margin-right: 48px;
}

.usericon {
  width: 27px;
  display: inline-block;
  vertical-align: middle;
}


.title {
  color: white;
  display: inline-block;
  vertical-align: middle;
  margin: 142px 365px 0px 480px;
  border: 2px solid cyan;
  text-align: center;
  font-size: 36px;
  font-family: 'BlennyW01';
}

.adventure {
  font-size: 95px;
  font-family: 'BlennyW01';
  letter-spacing: 40px;
}

.box2 {
  width: 1117px;
  border: 2px solid white;
  background: white;
  display: inline-block;
  margin: 0px 404px 0px 404px;

}

.box1 {
  margin: 274px 0px 0px 404px;
}

.miniboxes {
  width: 150px;
  display: inline-block;
  border: 2px solid red;
  text-align: center;
}



.minibox2,
.minibox3 {
  background-color: #546B72;
  color: white;
  font-weight: bolder;
}

.minitexts {
  display: inline-block;
  border: 2px solid black;
  font-size: 20px;
  padding: 4px;
  font-family: 'Lane Narrow';
}

.minibox1 {
  background-color: white;
  color: #3D5F8F;
  font-weight: bolder;
}

.box2 {
  display: inline-block;
  vertical-align: middle;
}

.infotext {
  display: inline-block;
  vertical-align: top;
  margin-top: 34px;
}

.infospan {
  color: #979DAD;
  font-size: 18px;
  font-family: 'Lane Narrow';
}

.infoicon